



.slide2 img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    display: block;
    margin-left: 22%;
    margin-top:25%;
    border-radius: 10%;
    border: rgba(0, 0, 0, 0.1);
    opacity: .9;
}

.M {
    color: crimson;
    font-size: 2.2em;
}

.slide1 img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    display: block;
    margin-left: 5%;
    margin-top:25%;
    border-radius: 10%;
    border: rgba(0, 0, 0, 0.1);
    opacity: .8;
    }