body {
  background: black;
}

#drop-in {
  visibility: hidden;
  color: white;
  margin: 10px 0 0 15px;
  opacity: 0;
  transform: translateY(-40px);
  transition: 1s;
  font-size: 15px;
  text-decoration: none;
}

.DC-supe-card:hover #drop-in {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.DC-supe-card {
  width: 22vw;
  height: 500px;
  background: #0a0a0a;
  transition: 0.5s;
  margin: 6vh 0;
  position: relative;
}

.DC-supe-card:hover:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(315deg, rgb(92, 92, 94), rgb(56, 119, 174));
  animation: skew 1s;
  animation-fill-mode: forwards;
  z-index: -1;
}

.DC-supe-card:hover .M-supe-img {
  opacity: 1;
  transition: 1s;
}

.DC-supe-card:hover h1 {
  opacity: 1;
  transition: 1s;
}

.DC-supe-card:hover .line {
  opacity: 1;
  transition: 1s;
}

.DC-supe-card h1 {
  color: white;
  position: absolute;
  font-size: 35px;
  left: 5%;
  opacity: 0.3;
  transition: 1s;
}

.DC-supe-card:hover .prgbar-list {
  opacity: 1;
  transition: 1s;
}

.DC-supe-img {
  width: 100%;
  height: 50%;
  opacity: 0.3;
  transition: 1s;
}

.line {
  border-bottom: 2px solid white;
  width: 90%;
  margin-left: 16px;
  opacity: 0.3;
  margin-top: 48px;
}

.container-DC-supes {
  margin-top: 15vh;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 10%;
}

.prgbar {
  width: 8vw;
  height: 10vh;
}

.prgbar-list {
  display: flex;
  list-style: none;
  margin-top: 8px;
  margin-left: -16px;
  opacity: 0.3;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-40px);
}

.DC-supe-card:hover .prgbar-list {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@keyframes skew {
  0% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0.75deg, 0.75deg);
  }
}

@keyframes slideLeft {
  0% {
  }
  100% {
    left: 5%;
  }
}

@keyframes slideBackwards {
  0% {
    left: 5%;
  }
  100% {
  }
}
