* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-slide {
  position: absolute;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

.container-slide .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-slide .slide.slide1 {
  background: url(https://wallpaperaccess.com/full/382536.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container-slide .slide.slide2 {
  background: url(https://wallpaperaccess.com/full/699897.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  left: 50.75%;
  transition: 1s;
}

.container-slide .slide.slide2:hover {
  left: 20%;
  transition: 1s;
}
.container-slide .slide.slide1:hover + .slide.slide2 {
  left: 85%;
}

nav {
  height: 10vh;
  position: fixed;
}
